<% if @organisation.users.empty? %>
    <div>This organisation has no admins yet</div>
<% else %>
  <div>
    <h5>Organisation administrator emails</h5>
  <ul>
  <% @organisation.users.each do |admin| %>
  <li><%= admin.email %></li>
  <% end %>
  </ul>
  </div>
<% end %>
