<div id="orgs_scroll" style="height:340px;width:100%;border:1px solid #ccc;overflow:scroll;">
  <div class="table table-bordered">
    <table>
      <div id="organizations">
        <% @organizations.each do |organization| %>
          <tr>
            <td>
              <u><%= link_to organization.name, organization %></u><br/>
              <%= smart_truncate(organization.description) %>
            </td>
          </tr>
        <% end %>
      </div>
    </table>
  </div>
</div>
<br/>

<div style="width:50%;float:left">
  <%= link_to_if(current_user.try(:admin?), 'New Organization',
                 new_organization_path){} %>
</div>

<% content_for :map do %>
    <div style='width: 800px;'>
      <div id="map" style='width: 800px; height: 400px;'></div>
    </div>
    <script type="text/javascript">
        handler = Gmaps.build('Google');
        handler.buildMap({
                    provider: {
                        zoom: 14,
                        center: new google.maps.LatLng(51.580697,-0.34212),
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    },
                    internal: {id: 'map'}},
                function () {
                    markers = handler.addMarkers(<%=raw @hash.to_json %>);
                });
    </script>
<% end %>
