<div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Cookies Policy</h4>
  <p></p><small>A cookie is a file containing an identifier (a string of letters and numbers) that is sent by a web server to a web browser and is stored by the browser. The identifier is then sent back to the server each time the browser requests a page from the server.
  </small>
  <small>Cookies can be used by web servers to identity and track users as they navigate different pages on a website and identify users returning to a website.
  </small>
  <small><strong>We will ask you to consent to our use of cookies in accordance with the terms of this policy when you first visit our website.
  <strong></strong></small>  </p>
  <button id="reject" class="btn btn-danger btn-mini" data-dismiss="alert" aria-hidden="true">Reject cookies</button>
    <button id="accept" class="btn btn-primary btn-mini"data-dismiss="alert" aria-hidden="true">Accept cookies</button>
</div>